.stripes {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.stripe {
    width: 385px;
    height: 2px;
    background-color: #fff;
}
.round {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
}